{% extends 'news/base.html' %}
{% block content %}

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>About Us</h3>
    </div>
    <!-- bradcam_area_end -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h3 class="about_title text-center">
                        We made Cloud Computing <br>
                        More Easier
                    </h3>
                </div>
            </div>
            <div class="row mb-60">
                <div class="col-xl-6">
                    <p>For light wherein fly their he blessed seed behold fourth moveth face moving. Dry for also subdue
                        dominion creepeth the may over fish very greater sixth to fill. Cattle you god heaven above
                        moveth, night. There fruitful upon from fowl, that she’d day man unto that have all herb whose
                        our void evening after under. You’ll sea wherein sea fruitful fill from.</p>
                </div>
                <div class="col-xl-6">
                    <p>Dry for also subdue dominion creepeth the may over fish very greater sixth to fill. Cattle you
                        god heaven above moveth, night. There fruitful upon from fowl, that she’d day man unto that have
                        all herb whose our void evening after under. You’ll sea wherein sea fruitful fill from.</p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-xl-3">
                    <div class="about_info">
                        <h3>2010</h3>
                        <p>Cattle you god heaven above moveth, night. There fruitful upon from fowl, that she’d day man
                            unto that have all herb whose our void evening after under. You’ll sea wherein sea fruitful
                            fill from.

                        </p>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="about_info">
                        <h3>2015</h3>
                        <p>Above creeping bearing, lights earth hath day, may them good, darkness. Shall. From for given
                            male from place created stars signs fowl bearing there were him so subdue greater herb.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="about_info">
                        <h3>2018</h3>
                        <p>From for given male from place created stars signs fowl bearing there were him so subdue
                            greater herb. Creature thing great male give cattle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_gallery_wrap_start -->
    <div class="about_gallery_wrap">
        <div class="container">
                <div class="row align-items-center mb-80">
                        <div class="col-xl-6">
                            <div class="service_wrap">
                                <div class="thumb-1">
                                    <img src="img/about/1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="about_wrap_text_1">
                                <h3>
                                    Committed to WordPress
                                </h3>
                                <p>Above creeping bearing, lights earth hath day, may them good, darkness. Shall. From for given
                                    male from place created stars signs fowl bearing there were him so subdue greater herb.
                                    Creature thing great male give cattle is Cattle you god heaven above moveth, night. There
                                    fruitful upon from fowl, that she’d day man unto that have all herb whose our void evening
                                    after under. You’ll sea </p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="about_wrap_text_1">
                                <h3>
                                    Contributing to Open Source
                                </h3>
                                <p>Above creeping bearing, lights earth hath day, may them good, darkness. Shall. From for given
                                    male from place created stars signs fowl bearing there were him so subdue greater herb.
                                    Creature thing great male give cattle is Cattle you god heaven above moveth, night. There
                                    fruitful upon from fowl, that she’d day man unto that have all herb whose our void evening
                                    after under. You’ll sea </p>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="service_wrap">
                                <div class="thumb-1">
                                    <img src="img/about/2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <!-- about_gallery_wrap_end -->


    <div class="about_boxes">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_box">
                        <h3>278390</h3>
                        <p>Client around the World</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_box">
                        <h3>200</h3>
                        <p>Dedicated team</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_box">
                        <h3>563278</h3>
                        <p>Domain registation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- have_question_statr -->
    <div class="have_question">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="single_border">
                            <div class="row align-items-center">
                                <div class="col-xl-6 col-md-4 col-lg-6">
                                    <h3>Have any Question?</h3>
                                </div>
                                <div class="col-xl-6 col-md-8 col-lg-6">
                                    <div class="chat">
                                        <a class="boxed_btn_green" href="#">
                                            <i class="flaticon-chat"></i>
                                            <span>Live Chat</span>
                                        </a>
                                        <a class="boxed_btn_green2" href="#">
                                                get start now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- have_question_end -->

{% endblock content %}